body {
    background-image: url("https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 10px;
}

/* section {
    font-size: 10px;
} */

h1 {
    background: rgba(65, 51, 51, 0.5);    color: white;
    font-size: 2rem;
    padding: 5px 15px;
}

article {
    background: rgba(72, 72, 72, 0.5);
    padding: 10px 5px;

    
}
article p {
    font-size: 1.5em;
}

article h2 {
    font-size: 2em;
}
/* 
Der HTML-Code befindet sich im Kommentarbereich
In dieser Übung werden wir alle Maße und Maßeinheiten verwenden
Body hat einen Hintergrund und ist zentriert, die Schriftgröße beträgt 10px
Die h1 bekommt die Einheit rem
Verwende für article, p, und h2 die Einheit em und die Font Helvetica */